<div class="portfolio">
  <div class="picture-div">
    <img src="{{ avatar }}" alt="avatar" class="picture" />
    <div class="currently-div">
      <img
        style="width: 20px; height: 20px;"
        alt="lightbulb"
        src="https://github.githubassets.com/images/icons/emoji/unicode/1f4a1.png"
      />
      <p style="font-weight: 200;">Developing</p>
    </div>
  </div>
  <div class="name-div">
    <h1 style="color: #24292e;">{{ name }}</h1>
    <h1
      style="
        margin-top: -10%;
        font-weight: lighter;
        font-size: x-large;
        color: #666666;
      "
    >
      {{ userName }}
    </h1>
  </div>
  <div>
    <button class="button">
      Follow
    </button>
  </div>
  <p style="font-size: 14px;">{{ bio }}</p>
  <ul class="container">
    <li class="row">
      <img
        class="pro-icon"
        src="https://image.flaticon.com/icons/svg/2891/2891415.svg"
        alt="building"
      />
      <p>{{ business }}</p>
    </li>
    <li class="row">
      <img
        class="pro-icon"
        src="https://image.flaticon.com/icons/svg/2948/2948111.svg"
        alt="pin"
      />
      <p>{{ location }}</p>
    </li>
    <li class="row">
      <img
        class="pro-icon"
        src="https://image.flaticon.com/icons/svg/561/561127.svg"
        alt="mail"
      />
      <p>{{ email }}</p>
    </li>
  </ul>
</div>
